body{
    margin: 0;
}

.container{
    margin-bottom: 100px;
}
.pink-bg{
    background-color: #FEEAE9;
    border-radius: 10px;
}

.carousel-item{
    padding: 20px 40px;
}

.price{
    
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 9px 25px;

}


/* Catagories */

.cat-1, .cat-2, .cat-3{

    padding: 10px 30px;
    border-radius: 10px;

}
.cat-1{
    background-image: linear-gradient(45deg, #FF9C35, #FFD019);
    

}

.cat-2{
    background-image: linear-gradient(to bottom, #FF589B, #FF136F);
}

.cat-3{
    background-image: linear-gradient(45deg, #4289FF, #3F07F8);
}
.catagories h1{
    color: white;
}
.catagories img{
    width: 100px;
}



/* Shoes & Bag */
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    border-top: none;
    border-radius: 10px !important;
    background-color: white;
}

/* Subscribe */
#subscribe{
    height: 300px;
}

#subscribe h6{
    color: gray;
}
.form-control{
    margin-bottom: 5px;
}

